build
dist
national_identity.egg-info
.Rhistory
.Rproj.user
*.Rproj
.vscode/settings.json
scripts/datapreparation/__pycache__/*
scripts/datapreparation/__pycache__/__init__.cpython-38.pyc
scripts/datapreparation/__pycache__/mongoConnection.cpython-38.pyc
scripts/datapreparation/extraction/.vscode/settings.json
scripts/03 Data Preparation/04 National Identity/__pycache__/mongoConnection.cpython-38.pyc
scripts/03 Data Preparation/04 National Identity/__pycache__/
scripts/__pycache__/DocumentationReference.cpython-38.pyc
scripts/__pycache__/
scripts/datapreparation/__pycache__/__init__.cpython-38.pyc
scripts/datapreparation/__pycache__/mongoConnection.cpython-38.pyc
scripts/datapreparation/nationalidentity/__pycache__/mongoConnection.cpython-38.pyc
scripts/03 Data Preparation/04 National Identity/__pycache__/mongoConnection.cpython-38.pyc
scripts/datapreparation/extraction/.vscode/settings.json
.vscode
.idea/
.idea
.idea/*
.vscode/settings.json
/scripts/datapreparation/sentiment/test.R
scripts/model/__pycache__/Prediction.cpython-38.pyc
scripts/model/__pycache__/*
/scripts/model/OneHot/class one hot.py
/scripts/model/OneHot/dummy.py
/scripts/model/OneHot/One Hot Model.py
/scripts/model/OneHot/OneHot_NearMiss.R
/scripts/model/OneHot/OneHot_Prediction.R
/scripts/model/OneHot/oneHot_Preprocessing.py
/scripts/model/OneHot/OneHot_SMOTE.R
/scripts/model/OneHot/test1.py
scripts/datapreparation/balancing/__pycache__/*
scripts/datapreparation/cleaning/__pycache__/*
scripts/datapreparation/cleaning/__pycache__/*
scripts/datapreparation/extraction/__pycache__/*
scripts/datapreparation/extraction/__pycache__/*
scripts/datapreparation/featureselection/__pycache__/*
scripts/datapreparation/nationalidentity/__pycache__/*
scripts/datapreparation/nationalidentity/__pycache__/*
scripts/datapreparation/sentiment/__pycache__/*
scripts/datapreparation/translation/__pycache__/*
/rotten_tomatoes_sepcnn_model.h5
/scripts/model/TNN_GOOGLE.py
/logs/
/logs_lstm/
/scripts/model/mongocommand.sh
/scripts/chrome_plugin_test/
/scripts/microservices/prediction/models_im/
/scripts/microservices/prediction/models_ni/
/scripts/model/bert_save
/scripts/model/*.png
/scripts/model/logs_lstm